/** TRANSITIONS **/
/* Button */
.button {
    background-color: gray;
    color: white;
    border: none;
    font-size: var(--font-size-h3);
    cursor: pointer;

    transition-property: transform, box-shadow;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
}

.button:hover {
    transform: scale(1.1);
    transition-duration: 50ms;
    background-color: gray;
    color: white;
    /* box-shadow: 0px 4px 4px 0px grey; */

}

.range-switch {
    background-color: gray;
    color: white;
    border: none;
    font-size: var(--font-size-h3);
    cursor: pointer;

    transition-property: transform, box-shadow;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
}

.range-switch:hover {
    transform: scale(1.1);
    background-color: gray;
    color: white;
    /* box-shadow: 0px 4px 4px 0px grey; */
}

.checkbox-animation {
    background-color: gray;
    color: white;
    border: none;
    font-size: var(--font-size-h3);
    cursor: pointer;

    transition-property: transform, box-shadow;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
}

.checkbox-animation:hover {
    transform: scale(1.5);
    background-color: gray;
    color: white;
    /* box-shadow: 0px 4px 4px 0px grey; */
}

.checkbox-animation:active,
.toggle-input:active,
.refresh-animation:active,
.button:active {
    transform: scale(0.9);
}

.toggle-input {
    background-color: gray;
    color: white;
    border: none;
    font-size: var(--font-size-h3);
    cursor: pointer;

    transition-property: transform, box-shadow;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
}

.toggle-input:hover {
    transform: scale(1.5);
    background-color: gray;
    color: white;
    /* box-shadow: 0px 4px 4px 0px grey; */


}

.refresh-animation:hover {
    transform: scale(1.1);
    background-color: white;
    color: black;
    /* box-shadow: 0px 4px 4px 0px grey; */


}

/** ANIMATIONEN **/