body {
    margin: 0 auto;
    transition: background-color 0.5s ease, color 0.5s ease;
    background-color: black;
    color: white;
    text-align: center;
    width: 85%;
}

body.light-mode {
    background-color: white;
    color: black;
}

*{
    font-family: logic-monospace, mono;
    color: white;
}

h1 {
    font-size: 2em;
    font-style: bold, normal;
    text-align: left;
    line-height: 80%
}

h2 {
    font-size: 1em;
    text-align: left;
    font-weight: 100;
}

h3 {
    font-size: 1.5em;
    text-align: left;
}

ul {
    text-align: left;
}

p {
    text-align: left;
}

main   {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

#rahmen {
    /* border: 3px solid white; */
    width: 1200px;
    height: 800px;
    align-content: center;
    padding: 10px;
}

#controls {
    border: 3px;
    border-style: solid;
    border-color: white;
    padding: 10px;
    text-align: left;
    margin-bottom: 5px;
}

.light-mode #controls {
    border-color: black;
}

#download {
    background-color: gray;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-property: transform, box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

#copy {
    background-color: rgb(94, 94, 94);
    color: white;
    text-align: center;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-property: transform, box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

  #footerBorder {
    border: 1px;
    border-style: solid;
    border-color: white;
    width: 100%;
  }

  .profil_blid {
    width: 30%;
    height: auto;
    image-orientation: left;
}

#team {
    display: flex;
    justify-content: space-between;
}

.member {
    flex: 0 1 48%;
}

.member img {
    width: 100%;
    height: auto;
}

footer {
    color: white;
    margin: 0 auto;
    text-align: left;
    position: fixed;
    bottom: 0;
    position: relative;
    margin-top: 80px;
}

footer a{
    color: white;
}

#copyIcon {
    color: white;
}

/* ------------------------------------- Media queries */
@media (max-width: 1200px) {
    body {
        background-color: orange;
    }
}

@media (max-width: 992px) {
    body {
        background-color: red;
    }
}

@media (max-width: 768px){
    body {
        background-color: lightsalmon;
        #team {
            flex-direction: column;
        }
    
        .member {
            flex: 1 0 auto;
            margin-bottom: 20px;
        }
    }
    
}

@media (max-width: 576px) {
    body {
        background-color: yellowgreen;
    }
}





