body {
    margin: 0 auto;
    background-color: black;
    color: white;
    text-align: center;
    width: 85%;
}

*{
    font-family: logic-monospace, mono;
}

h1 {
    font-size: 3em;
    font-style: bold, normal;
    text-align: left;
    line-height: 100%
}

h2 {
    font-size: 1.5em;
}

main   {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

#rahmen {
    border: 3px solid white;
    width: 1200px;
    height: 800px;
    align-content: center;
    padding: 10px;
}

#controls {
    border: 3px solid white;
    padding: 10px;
    text-align: left;
    margin-bottom: 5px;
}

#download {
    background-color: gray;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-property: transform, box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

#copy {
    background-color: rgb(94, 94, 94);
    color: white;
    text-align: center;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-property: transform, box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

footer {
    color: white;
    margin: 0 auto;
    text-align: left;
    position: fixed;
    bottom: 0;
    position: relative;
    margin-top: 80px;
}

footer a {
    color: white;
}

@media (max-width: 1200px) {
    body {
        background-color: orange;
    }
}

@media (max-width: 992px) {
    body {
        background-color: red;
    }
    
}

@media (max-width: 768px){
    body {
        background-color: lightsalmon;
    }
    
}

@media (max-width: 576px) {
    body {
        background-color: yellowgreen;
    }
}





