body {
    margin: 0 auto;
    background-color: black;
    width: 80%;
    color: white;
    text-align: center;
}

*{
    font-family: logic-monoscript, mono;
    font-style: normal;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

footer {
    color: white;
    margin: 0 auto;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 80%;
}